body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.snow-color{
    color: orange;
}
section{
    display: flex;
}
.first-section{
    width: 50%;
    padding-left: 6%;
}
.first-section img{
    width: 80%;
    padding-left: 8%;
}
.first-section p{
    text-align: justify;
    font-weight: 100;
}
.got-style{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
}